*{
    box-sizing: border-box;
}
body{
    background: dimgray;
}
.container {
    background: darkgrey;
    color: black;
    width: 90%;
    max-width:470px ;
    padding: 20px 35px;
    margin:0 auto ;
    text-align: center;
    border-radius: 20px;
}
form p{
    font-size: large;
}
div h2{
    display: flex;
    align-items: center;
    justify-content: center;
} 
form input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 4px;
    margin-bottom: 6px;
    resize: vertical;
  }
  
form button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
form button:hover {
    background-color: grey;
}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .return-button {
      margin-bottom: 10px;
    }
  }
.icon{
    font-size: xx-large;
    margin-right: 10px;
}  
.return-button a{
  text-decoration: none;
  color: black;
}
.return-button a:hover{
  color: grey
}
.return-button{
  margin-top: 20px;
  margin-left: 20px;
}